<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/read">Show</a></li>
      <li><a href="/game/create">New Entry</a></li>

    </div>
    <div class="form">
      <form action="/create" method="Post">
        <input type="text" name="date" placeholder="Date"><br>
        <input type="text" name="bombay_3pm" placeholder="Bombay 3pm"><br>
        <input type="text" name="bombay_6pm" placeholder="Bombay 6pm"><br>
        <input type="text" name="bombay_9pm" placeholder="Bombay 9pm"><br>
        <input type="text" name="bombay_12am" placeholder="Bombay 12am"><br>
        <input type="text" name="bombay_6am" placeholder="Bombay 6am"><br>
        <button class="btn" type="submit">ADD+</button>
      </form>
    </div>
</body>

</html>