<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
    <div class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/read">Show</a></li>

    </div>
    <div class="form">
      <form action="/game/create" method="Post">
        <input type="text" name="date" placeholder="Date"><br>
        <input type="text" name="faridabad" placeholder="faridabad"><br>
        <input type="text" name="ghaziabad" placeholder="ghaziabad"><br>
        <input type="text" name="gali" placeholder="gali"><br>
        <input type="text" name="desawar" placeholder="desawar"><br>
        <button class="btn" type="submit">ADD+</button>
      </form>
    </div>
</body>

</html>