<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameBobay</title>
</head>
<body>
    <h3>Login here!</h3>
    <form action="/admin/login" method="post">
        <input type="email" placeholder="Email" name="email"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>